.footer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 2em;
    background-color: #fff9f0;
}

.footer nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.divider {
    background-color: black;
    height: 2px;
}