.footer {
    width: 100%;
    padding: 1em 0;
    background-color: #fff9f0;
    
}

.footer nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.divider {
    background-color: black;
    height: 2px;
}