.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff9f0;
    padding: 0 2em;
    box-sizing: border-box;
    z-index: 1000;
    margin: 0;
}


.header ul {
    padding: 0;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.divider {
    padding: 0 2em;
    background-color: black;
    height: 2px;
}