.profession {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  /* padding: 1rem 0; */
  color: black;
  width: 100%;
}

.profession h2 {
    font-weight: 500;
}

.profession hr {
  height: 1px;
  background-color: black;
  margin: 0;
  width: 100%;
}

/* Stack on mobile */
@media (max-width: 700px) {
  .profession {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}