.works {
    padding: 0 8em;
}

.works-grid {
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .works-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .works-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .works-grid {
        grid-template-columns: 1fr;
    }
}